/* Michael Barnes - September 7, 2026 */

body {
    display: grid;
}

#image-flex {
    display: flex;
}

img {
    width: 100%;
}

@media screen and (min-width: 600px) {
    #image-flex {
        flex-direction: row;
    }
}

@media screen and (min-width: 1024px) {
    #image-flex {
        flex-direction: row;
    }
}

nav ul {
    display: flex;
}

@media screen and (max-width: 599px) {
    nav ul {
        flex-direction: column;
    }
}